.Search {
    width: 150px;
    max-width: 50%;
    height: 34px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin-right: 20px;

    @media only screen and (min-width: 400px) {
        width: 200px;
    }

    @media only screen and (min-width: 768px) {
        width: 250px;
        height: 40px;
    }

    @media only screen and (min-width: 1280px) {
        width: 350px;
        height: 46px;
    }

    input {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        outline: none;
        border: none;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
        font-size: 1.1rem;
        padding: 0 20px;
        background-color: rgba(255, 255, 255, .9);

        // @media only screen and (min-width: 768px) {
        //     font-size: .8rem;
        // }

        &::placeholder {
            color: #555;
            font-size: .8rem;
        }

        &:focus {
            border: 3px solid rgba(73, 130, 255, .5);
            box-shadow: none;
        }
    }
}