.Home {
    width: 100vw;
    // min-height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    // top: -80px;

    @media (min-width: 768px) {
        // top: -100px;
    }

    * button {
        cursor: pointer;
    }

    // background: #fff;

    @media(min-width: 978px) {
        align-items: center;
    }

    // margin-top: 80px; // background: url("../../assets/homeBg1.svg") no-repeat 100% 100%/cover

    // img {
    //     max-width: 100%;
    //     height: auto;
    // }
    .Hero {
        min-height: fit-content;
        // margin-top: 150px;
        margin-bottom: 0;
        display: flex;
        // justify-content: center;
        // align-items: flex-start;
        position: relative;

    }

    .Hero_Text {
        width: 80%;
        text-align: center;
        // height: 85vh;
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        color: #fff;

        @media(min-width: 1024px) {
            width: 50%;
            text-align: start;
            padding: 80px;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
        }

        // background-color: rgba(0, 0, 0, 0.05);
        // backdrop-filter: blur(4px);

        h1 {
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;

            @media(min-width: 978px) {
                font-size: 2.5rem
            }

            @media(min-width: 1280px) {
                font-size: 3.5rem
            }
        }

        button {
            width: 200px;
            height: 40px;
            border-radius: 8px;
            background: #fff;
            // background: #4982ff;
            color: #000;
            // color: #E94259;
            padding: 0 30px;
            outline: none;
            border: none;
            font-weight: 600;
            font-size: 1rem;
            margin-top: 30px;
            position: relative;
            letter-spacing: 1px;
            z-index: 1;
            // text-transform: uppercase;
            // transition: all .4s ease-in-out;



            span {
                width: 0;
                opacity: .7;
                transition: all .5s ease-out;
            }

            &:hover {
                color: #fff;
                background-color: transparent;

                span {
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    background-color: #000;
                    opacity: 1;
                }
            }

            @media(min-width: 978px) {
                font-size: 1.1rem;
                width: 250px;
                height: 50px;

            }
        }
    }

    .Carousel {
        display: block;
        max-height: 100% !important;
        // min-height: 100%;
        min-width: 100%;
        max-width: 100vw;
        position: relative;
        top: 0;
        right: 0;
        z-index: -1;

        @media(min-width: 478px) {
            display: block
        }

        // >div:first-child {
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(0, 0, 0, .1);
        //     backdrop-filter: blur(4px);
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: 250;
        // }

    }

    .hostBg {
        display: grid;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: #eee;
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;

        margin-top: 50px;
        // padding: 20px; // box-shadow: 0 2px 10px #ccc;

        @media (min-width:568px) {
            padding-top: 0;
            grid-template-columns: 1fr 1fr;
            flex-flow: row;
            // height: 500px;
            // padding: 0 50px;
            // grid-template-rows: auto;

            img {
                height: 100%;
                 &:before {
                     display: block;
                     content: "";
                     padding: 10px;
                 }
            }
        }

        @media(min-width: 1024px) {
            width: calc(100% - 160px);
            margin: 80px;
            margin-bottom: 0;
        }

        >div {
            padding: 30px 40px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            // background: url("../../assets/hostBg.svg") no-repeat top center/cover;
            @media(min-width:768px) {
                padding: 50px 60px;

            }

            h1 {
                min-height: 80px;
                font-size: 1.4rem;
                margin-bottom: 10px;


                @media (min-width: 600px) {
                    font-size: 1.5rem;
                }

                @media(min-width: 978px) {
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                    line-height: 1.4;
                    color: #333;
                    padding-right: 50px;
                }
            }

            button {
                padding: 0 20px;
                height: 40px;
                outline: none;
                border: none;
                color: #fff;
                background: #000;
                width: auto;
                font-weight: 600;
                // margin-top: 20px

                @media (min-width:568px) {
                    margin-top: 20px;
                    height: 50px;
                    font-size: 1.3rem;
                }
            }

            // padding: 50px;

            order: 1
        }

        img {
            width: 100%;
            // height: 0;
            // height: 100%;
            flex: 1;
            order: 2;
            object-fit: cover;

            @media(min-width: 768px) {
                height: 100%;
                order: 0;
            }

            &:before {
                display: block;
                content: "";
                padding: 10px;
            }

        }

    }

    .Explore {
        padding: 30px;

        @media (min-width: 678px) {
            padding: 50px
        }

        h2 {
            text-transform: uppercase;
            padding: 20px 0;
            font-size: 1.2rem;
            font-weight: 800;
            letter-spacing: 1px
        }

        .Items {
            display: grid;
            place-content: center;
            place-items: center !important;
            // padding: 20px;
            // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 30px;

            @media(min-width: 678px) {
                // padding: 30px;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            }

            @media (min-width: 978px) {
                grid-template-columns: repeat(auto-fit2, minmax(250px, 1fr));
                // grid-gap: 50px;
            }
        }
    }

}

.hideScroll {
    overflow: hidden;
}