.About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px;
}

.About h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

@media (min-width: 978px) {
  .About h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1280px) {
  .About h1 {
    font-size: 2rem;
  }
}

.About .Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fefeff;
}

.About .Main .item {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.About .Main .item .image {
  width: 100%;
  height: 200px;
}

.About .Main .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.About .Main .item .image img:hover {
  opacity: .7;
}

.About .Main .item .desc h2 {
  font-size: .9rem;
  font-weight: 900;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.About .Main .item .desc p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .About .Main .item .desc h2 {
    font-size: 1rem;
  }
  .About .Main .item .desc p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1280px) {
  .About .Main .item .desc h2 {
    font-size: 1.1rem;
  }
  .About .Main .item .desc p {
    font-size: 1.3rem;
  }
}

.About .Main .item:nth-child(2) .desc {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 978px) {
  .About .Main .item:nth-child(2) .desc {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 500px) {
  .About .Main .item .image {
    height: 300px;
  }
}

@media (min-width: 978px) {
  .About .Main .item {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
  .About .Main .item .image {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .About .Main .item {
    grid-gap: 100px;
  }
  .About .Main .item .image {
    height: 400px;
  }
}

@media (min-width: 500px) {
  .About {
    padding: 50px;
  }
}

@media (min-width: 978px) {
  .About {
    padding: 100px;
  }
}
