.Modal {
    position: fixed;
    left: 0;
    bottom: 0;
    top: -100vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    // max-height: 100%; // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 5000;
    transition: all .4s ease;
    overflow-x: hidden;
    overflow-y: scroll;

    .Children {

        position: absolute;
        margin-top: 50vh;
        // margin-top: calc(50vh + 80px);
        margin-left: 50vw;
        transform: translate(-50%, -50%);
        width: 600px;
        max-width: 85vw;
        // height: fit-content;
        max-height: fit-content;
        // min-height: 00px;
        background-color: #fff;
        padding: 20px;
        // padding-bottom: 50px;
        border-radius: 15px;
        z-index: 5000;

        @media only screen and (max-width: 380px) {
            max-width: 90vw !important;
        }

        @media (min-width: 678px) {
            max-width: 70vw;
            padding: 50px
        }

        >h1 {
            font-size: 1.6rem;
            margin-bottom: 25px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 0;
        }

        >span {
            position: absolute;
            font-size: 20px;
            top: 10px;
            right: 20px;
            color: #000;

        }

        >form {

            @media(min-width: 978px) {

                input,
                .form-control,
                select {
                    height: 50px !important
                }
            }

            .form-row {
                margin-top: 20px !important
            }
        }
    }


}

.Show {
    bottom: 0;
    top: 0;
}