.Profile {
  color: black !important;
}

.Profile button {
  background-color: transparent !important;
  border: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.Profile button a {
  text-decoration: none !important;
  color: #222 !important;
}

.Profile .btn:focus, .Profile .btn:hover, .Profile .btn:active,
.Profile .btn .active,
.Profile .btn-primary:focus,
.Profile .btn-primary:hover,
.Profile .btn-primary:active,
.Profile .btn-primary .active {
  border: none !important;
  border-color: #fff !important;
  outline: none !important;
}
