.Profile {

    color: black !important;

    button {
        background-color: transparent !important;
        border: none !important;
        border-color: transparent !important;
        outline: none !important;

        // font-size: 3rem
        a {
            text-decoration: none !important;
            color: #222 !important
        }
    }

    .btn,
    .btn-primary {

        &:focus,
        &:hover,
        &:active,
        .active {
            border: none !important;
            border-color: #fff !important;
            outline: none !important
        }
    }
}