.Profile {

    color: black !important;
    margin-right: 20px;

    .username {
        font-size: 1.1rem !important;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .5px
    }

    button {
        background-color: transparent !important;
        border: none !important;
        border-color: transparent !important;
        outline: none !important;
        padding: 10px 0 !important;

        // font-size: 3rem
        a {
            text-decoration: none !important;
            color: #222 !important
        }
    }

    .btn,
    .btn-primary {

        &:focus,
        &:hover,
        &:active,
        .active {
            border: none !important;
            border-color: #fff !important;
            outline: none !important
        }
    }
}