.Header {
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    // margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 2000;
    transition: all .6s ease;


    @media only screen and (min-width: 768px) {
        padding: 30px 50px;
        // height: 100px
    }

    @media only screen and (min-width: 1280px) {
        padding: 30px 100px // height: 100px
    }

    .Brand svg {
        height: 34px;
        margin-left: -10px;


        @media(min-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    // left: 0;
    // right: 0;
    >.Dropdown {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        @media only screen and (min-width: 1024px) {
            display: none;
        }

        i {
            height: max-content;
            padding: 0;
            font-size: 2rem;
            font-weight: 900;
            color: #fff;

            svg {
                height: 34px;
            }
        }

    }

    .lgIn {
        i {
            height: max-content;
            padding: 0;
            font-size: 2rem;
            font-weight: 900;
            // color: #fff;

            * svg {
                height: 34px;
            }
        }
    }

    .Links {
        display: none;
        position: absolute !important;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);



        @media only screen and (min-width: 1024px) {
            display: block;
        }

        @media only screen and (min-width: 1280px) {
            display: block;
            right: 100px
        }

        >button {
            color: #000;
            padding: 15px;
            height: 40px;
            border-radius: 6px;
            font-weight: 500;
            outline: none;
            border: none;
            background-color: rgba(255, 255, 255, .3);
            font-size: 1rem;
            display: inline-flex;
            align-items: center;
            margin-left: 10px;
            transition: all .2s ease-in;

            &:hover {
                background-color: rgba(255, 255, 255, .8);
                // border: 1px solid #555
                // color: #000 !important;
                // border-bottom: 3px solid #000;
            }

            &:last-child {
                background-color: #010101;
                color: #fff !important;

                border: 1px solid #000;

                &:hover {
                    background-color: rgba(255, 255, 255, .5);
                    color: #000 !important
                }

            }
        }
    }
}

// .Top {
//     // background: rgba(255, 255, 255, .1);
//     // backdrop-filter: blur(2px)
// }

.Scroll {
    border-bottom: .5px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    box-shadow: 3px 0 10px rgba(0, 0, 0, .3);

    button {
        color: #4a4a3a !important;

        &:hover {
            color: #000 !important
        }


    }

    .Brand svg {
        stroke: black;
        fill: black;
    }

    .lgIn {
        i {
            color: black
        }
    }

    .Dropdown,
    .lgIn {
        i {
            color: #000
        }
    }
}