.Wrapper {
    position: fixed;
    z-index: 1000;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    max-width: 80%;
    min-height: 100px;
    max-height: 50vh;
    overflow: scroll;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

    @media(min-width: 500px) {
        min-width: 400px;

    }

    @media(min-width: 768px) {
        min-width: 500px
    }

    h4 {
        align-self: center !important;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        color: #222;
        font-size: 1.1rem;
    }

}

.Result {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 7px;
        object-fit: cover;
        margin-right: 20px;

    }

    div {
        display: inline-flex;
        flex-flow: column;
        align-self: center;
        justify-content: center;
        height: 100%;

        h3 {
            font-weight: 600;
            font-size: .9rem;
            color: #222;
            padding: 0;
            vertical-align: center;
            text-transform: capitalize;
        }

        p {
            font-weight: 500;
            color: #555;
            font-size: .9rem;
            text-transform: capitalize;
        }
    }

    &:hover {
        background-color: #f2f2ff;
        cursor: pointer
    }


}