.Main {
  padding: 20px;
  margin-top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.Main .Content img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  max-height: 400px !important;
}

.Main .Content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Main .Content h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  color: #292f53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Main .Content h2:last-child {
  margin-left: 20px;
}

.Main .Content .likeIcon {
  position: absolute;
  right: 0;
  top: 25px;
}

.Main .Content p,
.Main .Content li {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  color: #666;
  margin-top: -10px;
}

.Main .Content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Main .Content .info span {
  -webkit-text-decoration: strike-through;
          text-decoration: strike-through;
  color: green;
  font-weight: 600;
}

.Main .Content .info span p {
  color: #111;
  font-weight: 600;
}

.Main .Content .desc {
  padding: 20px 0 0;
}

.Main .Content .fts {
  font-size: 1rem;
}

.Main .Content h5 {
  padding: 10px 20px;
  line-height: 2;
  color: #666;
  font-weight: 700;
  font-size: 1.1rem;
}

.Main .Content h6 {
  color: #555;
  padding: 5px 20px;
  font-size: 1.1rem;
}

@media (min-width: 978px) {
  .Main {
    margin-top: 100px;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 50px;
  }
  .Main .Content {
    padding: 0 20px;
  }
  .Main .Content > *:not(img) {
    padding: 0 0;
  }
  .Main .Content h2 {
    font-size: 1.5rem;
  }
  .Main .Content p {
    font-size: 1.2rem;
    line-height: 1.8;
  }
  .Main .Content h6 {
    font-size: 1rem;
  }
}

.Main .Form {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Main .Form input,
.Main .Form button {
  height: 50px !important;
  margin-bottom: 20px !important;
}

@media (min-width: 978px) {
  .Main .Form input,
  .Main .Form button {
    height: 60px !important;
  }
}

.Main .Form h5 {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

@media (min-width: 978px) {
  .Main .Form {
    margin: 0 25px;
  }
}
