.Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  height: 100%;
  margin-top: 80px;
}

.Main .hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100% !important;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  top: 0;
  left: 0;
}

.Main .hero img {
  width: 100%;
}

.Main h3 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 800px;
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
}

.Main button {
  height: 50px;
  margin-top: 20px;
}

.Main .Form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.1rem;
}

.Main .Form input,
.Main .Form button,
.Main .Form .form-control-file {
  height: 50px !important;
  margin-bottom: 20px !important;
}

@media (min-width: 978px) {
  .Main .Form input,
  .Main .Form button,
  .Main .Form .form-control-file {
    height: 40px !important;
  }
}

.Main .Form h5 {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

@media (min-width: 978px) {
  .Main .Form {
    margin: 0 25px;
  }
}

@media (min-width: 978px) {
  .Main {
    max-width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 50px;
  }
}
