.Main {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100%;
    margin-top: 80px;
    // color: #fff;
    // background-color: #eef;

    // background: #f2f2f2;
    // >duiv {
    //     img {
    //         h4 letter: 20px;
    //         margin-top
    //     }
    // }


    .hero {
        flex: 1; // min-height: 100vw;
        height: 100% !important;
        background-color: #111;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        position: relative;
        top: 0;

        left: 0;

        img {
            width: 100%;
        }

    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.6;
        font-weight: 800px;
        // color: #fff;
        text-align: center;
        height: 100%;
        margin-bottom: 20px;
    }

    button {
        height: 50px;
        margin-top: 20px;
    }

    .Form {
        flex: 2;
        width: 90%;
        max-width: 700px;
        margin: 0 auto;
        padding: 50px;
        background-color: #fff;
        position: sticky;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        top: 0;
        right: 0;
        flex: 1;
        font-size: 1.1rem;


        input,
        button,
        .form-control-file {
            height: 50px !important;
            margin-bottom: 20px !important;

            @media (min-width: 978px) {
                height: 40px !important;
            }
        }

        h5 {
            margin-bottom: 30px;
            font-size: 1.3rem;
        }

        @media (min-width: 978px) {
            margin: 0 25px;

        }
    }

    @media (min-width: 978px) {

        max-width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: start;
        padding: 50px;
    }
}