.Submit {
    width: 60% !important;
    display: block !important;
    margin: 20px auto !important;
    border: none !important;
    background-color: #222 !important;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    // display: flex !important;
    // align-items: center !important;
    // height: 50px !important;
    padding: 5px;

    p {
        margin-bottom: 0 !important;
        font-size: 1.3rem;
        font-weight: 500;
    }

    // padding: 20px !important;
}

.CTA {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 20px;
    margin-top: 20px;
    text-align: center;
    color: #222;

    span {
        color: #4982ff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1px
    }

}